body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(247, 247, 236);
}

a {
  color: #10a5e0;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-form button {
  color: red;
}

#update {
  padding: 6px 6px;
  font-size: 100%;
  color: white;
  background-color: rgb(40, 51, 201);
  border-radius: 3px;
}
	
li {
  list-style: none;
}

input {
  padding: 6px 6px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 100%;
}

